@model BenefitsAllocation.Core.Domain.ExcludedObject

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<div id="reimbursable-benefits-account-editor">
    
    @using (@Html.BeginForm("Create", "ExcludedObject", FormMethod.Post))
    {   
        @Html.AntiForgeryToken();
        <div class="control-group">
            <div class="editor-label">
                @Html.LabelFor(x => x.OrgId, null, new { id = "orgIdLabel", name = "OrgId" })
            </div>
            <div class="controls">
                <input id="orgId" name="OrgId" value="@Model.OrgId" readonly="readonly"/>
            </div>
        </div>
        
        <div class="control-group">
            <div class="editor-label">
                @Html.LabelFor(x => x.ObjectNum, null, new { @class = "control-label required", id = "objectNumLabel", name = "ObjectNum" })
            </div>
            <div class="controls">
                <input id="objectNum" name="ObjectNum" value="" required="required" /><span>*</span>
                @Html.ValidationMessageFor(model => model.ObjectNum)
            </div>
        </div>
        <div class="control-group">
            <div class="editor-label">
                @Html.LabelFor(x => x.IsActive, null, new { id = "isActiveLabel", name = "IsActive" })
            </div>
            <div class="controls">
                <input type="checkbox" id="isActive" name="isActive" value="true" checked="checked" readonly="readonly" />
            </div>
        </div>
        <hr/>
        <p><input id="submit" type="submit" value="Add Excluded Object" class="btn btn-primary" />&nbsp;
            @Html.ActionLink("Cancel/Back", "Index", null, new {@class="btn"})
        </p>
    }
</div>
