@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <br/>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        A Project for Automating
        General Ledger Current Budget Adjustments
        necessitated by campus' de-centralization
        of benefits allocation credits and expenses.
    </p>

    <p>
        This web application allows users to generate "flat" upload files
        containing all Chart 3, OP Fund 19900, Object Consolidation Codes SUB6 and SB28
        current budget (CB) and credit/expense (AC) amounts.   
    </p>
    
    <ul>
        <li>
            Departmental accounts containing benefit expenses are credited back by matching amounts withdrawn from the Dean's Office's central benefits accounts. 
        </li>
        <li>
            Departmental accounts containing benefit credits are withdrawn by matching amounts credited back to the Dean's Office's central benefits accounts.
        </li>
    </ul>

    <p>
        Files can then be downloaded to users computers, reviewed, approved and uploaded
        to the Accounting and Financial Services (A&FS) host computer via Secure File Transfer Protocol (SFTP).
        Once uploaded, these "scrubber" files are then imported into DaFIS and scrubber results reports are
        returned via e-mail to BenefitsAllocationUpload@caes.ucdavis.edu.
    </p>
</article>

<aside>
    <h3></h3>
    <p>
        This project was created by Ken Taylor for Tom Kaiser and the College of Agricultural and Environmental Sciences (CA&ES)
        Dean's Office Accounting Team.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>