@using System.Web.UI.WebControls
@model IList<BenefitsAllocationUpload.Models.FeederSystemFixedLengthRecord>

@{

    ViewBag.Title = "Scrubber Viewer";
}

@*<div>
    @using (Html.BeginForm("Upload", "Display", FormMethod.Post, new { id = "DisplayFile", enctype = "multipart/form-data" }))
    {
        <b> Please select an Scrubber file to display: </b>
        <input type="file" id="FileUpload1" name="FileUpload1" required="required" />
        <br />
        <input type="submit" value="Display Scrubber" title="Upload" />
    }

</div>
<br />
<br />*@

<h2>@ViewBag.Title</h2>
<br />

@Styles.Render("~/Content/DataTables-1.9.4/media/css/datatables-bootstrap.css")
@Styles.Render("~/Content/DataTables-1.9.4/media/css/jquery.dataTables.css")

@section AdditionalScripts
{
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    @*These scripts allow the copy/export buttons to work:*@
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.flash.min.js"></script>



    <script type="text/javascript">
        $(function () {
            var table = $('#transactionsListTable').DataTable({
                "buttons": [
                    'copy', {
                        extend: 'excel',
                        text: 'Export to Excel',
                        filename: '@TempData["Filename"]'
                }
                ],
                "oLanguage": {
                    "sLengthMenu": 'Display <select>' +
                        '<option value="10">10</option>' +
                        '<option value="25">25</option>' +
                        '<option value="50">50</option>' +
                        '<option value="100">100</option>' +
                        '<option value="-1">All</option>' +
                        '</select> records'
                },
                "iDisplayLength": -1,
                "aaSorting": [[0, "asc"]], //Default sort on second column
                //"aoColumnDefs": [
                //    //{ 'bSortable': false, 'aTargets': [0, 5] } //Disables sort on icon columns
                //]
            });

            table.buttons().container()
               .appendTo($('#actionButtons'));
        })
    </script>


}

@*<style type="text/css">
        .table {
            margin: 4px;
            border-collapse: collapse;
            width: 300px;
        }

        .header {
            background-color: gray;
            font-weight: bold;
            color: #fff;
        }

        .table th, .table td {
            border: 1px solid black;
            padding: 5px;
        }
    </style>*@
<div>


    <p id="actionButtons" class="btn-group"></p>

    <table id="transactionsListTable" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => m[0].FiscalYear)</th>
                <th>@Html.DisplayNameFor(m => m[0].ChartNum)</th>
                <th>@Html.DisplayNameFor(m => m[0].Account)</th>
                <th>@Html.DisplayNameFor(m => m[0].SubAccount)</th>
                <th>@Html.DisplayNameFor(m => m[0].ObjectCode)</th>
                <th>@Html.DisplayNameFor(m => m[0].SubObjectCode)</th>
                <th>@Html.DisplayNameFor(m => m[0].BalanceType)</th>
                <th>@Html.DisplayNameFor(m => m[0].ObjectType)</th>
                <th>@Html.DisplayNameFor(m => m[0].FiscalPeriod)</th>
                <th>@Html.DisplayNameFor(m => m[0].DocumentType)</th>
                <th>@Html.DisplayNameFor(m => m[0].OriginCode)</th>
                <th>@Html.DisplayNameFor(m => m[0].DocumentNumber)</th>
                <th>@Html.DisplayNameFor(m => m[0].LineSequenceNumber)</th>
                <th>@Html.DisplayNameFor(m => m[0].TransactionDescription)</th>
                <th>@Html.DisplayNameFor(m => m[0].Amount)</th>
                <th>@Html.DisplayNameFor(m => m[0].DebitCreditCode)</th>
                <th>@Html.DisplayNameFor(m => m[0].TransactionDate)</th>
                <th>@Html.DisplayNameFor(m => m[0].OrganizationTrackingNumber)</th>
                <th>@Html.DisplayNameFor(m => m[0].ProjectCode)</th>
                <th>@Html.DisplayNameFor(m => m[0].OrganizationReferenceId)</th>
                <th>@Html.DisplayNameFor(m => m[0].ReferenceTypeCode)</th>
                <th>@Html.DisplayNameFor(m => m[0].ReferenceOriginCode)</th>
                <th>@Html.DisplayNameFor(m => m[0].ReferenceNumber)</th>
                <th>@Html.DisplayNameFor(m => m[0].ReversalDate)</th>
                <th>@Html.DisplayNameFor(m => m[0].TransactionEncumbranceUpdateCode)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.FiscalYear
                    </td>
                    <td>
                        @item.ChartNum
                    </td>
                    <td>
                        @item.Account
                    </td>
                    <td>
                        @item.SubAccount
                    </td>
                    <td>
                        @item.ObjectCode
                    </td>
                    <td>
                        @item.SubObjectCode
                    </td>
                    <td>
                        @item.BalanceType
                    </td>
                    <td>
                        @item.ObjectType
                    </td>
                    <td>
                        @item.FiscalPeriod
                    </td>
                    <td>
                        @item.DocumentType
                    </td>
                    <td>
                        @item.OriginCode
                    </td>
                    <td>
                        @item.DocumentNumber
                    </td>
                    <td>
                        @item.LineSequenceNumber
                    </td>
                    <td>
                        @item.TransactionDescription
                    </td>
                    <td>
                        @item.Amount
                    </td>
                    <td>
                        @item.DebitCreditCode
                    </td>
                    <td>
                        @Convert.ToDateTime(item.TransactionDate).ToString("d")
                    </td>
                    <td>
                        @item.OrganizationTrackingNumber
                    </td>
                    <td>
                        @item.ProjectCode
                    </td>
                    <td>
                        @item.OrganizationReferenceId
                    </td>
                    <td>
                        @item.ReferenceTypeCode
                    </td>
                    <td>
                        @item.ReferenceOriginCode
                    </td>
                    <td>
                        @item.ReferenceNumber
                    </td>
                    <td>
                        @item.ReversalDate
                    </td>
                    <td>
                        @item.TransactionEncumbranceUpdateCode
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
